@tailwind base;
@tailwind components;
@tailwind utilities;

/* justify center or items center to center your items */

@layer components {

.weather-wrapper {
    @apply flex flex-col items-center 

    
}

.weather-container {
    @apply flex justify-center 
   
}



.weather-card {

    @apply w-full  text-white bg-[url("https://images.unsplash.com/photo-1588420343618-6141b3784bce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==&auto=format&fit=crop&w=2012&q=80")] sm:w-3/5
    
   
}

.day {
    @apply pl-4 
}
.temp {
    @apply flex flex-col items-center
}

.place-container{
    @apply flex justify-center
} 

.weather-details {
   
}
}




.weather-wrapper {
    
}

.weather-container {
    width: 900px;
   
}
 
@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.weather-card {
    
    height: 30%;
    border-radius: 20px;
   
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5); 
    background-repeat: no-repeat; 
    
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.3s; 
    animation-fill-mode: backwards;
   
}

 .weather-card:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
    z-index: 1;
}

.weather-details {
    width: 400px;
   
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: #fff;
    
    }
 
.weather-details h1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 10px 5px 10px;
    text-align: center;
    line-height: 140%; 
    font-size: 0.83em;
    text-shadow: 1px 1px 5px #707070;
}





.no-search-wrapper {
    min-width: 400px;
    min-height: 500px;
    
}

/* Reminder: the height can also determain how your content is centered in the box */
.no-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 700px;
   
} 

.no-search-container .bi-search {
    font-size: 90px;
    padding-left: 10rem;
   
}

.no-search-container h2 {
  
    padding-left: 10rem;
}

.no-search-container h1 {
    
    font-size: 150%;
    padding-left: 2rem;
}



/* Mobile */
@media only screen and (max-width: 640px) {

    .weather-wrapper{
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .weather-container {
        width: 400px;
        padding: 2rem;
    }

    .no-search-wrapper {
       width: 100vw;
    }

    .no-search-container h1 {
        font-size: 100%;
        padding-left: 6rem;
    }


    .weather-details {
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: 2rem;
        }


    /* We had to change the height of weather so that the footer can be placed below at bottom */
   
   
}






