
.weather-wrapper {
    position: relative;
    bottom: -15px;
    padding: 0px;
    min-width: 400px;
   min-height: 1000px; 
    /* background-color: pink; */
  
}

.weather-container {
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
}
 
@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.weather-card {
    width: 35%;
    border-radius: 20px;
    color: #FFF;
    background-image: url("https://images.unsplash.com/photo-1588420343618-6141b3784bce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==&auto=format&fit=crop&w=2012&q=80") ;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5); 
    background-repeat: no-repeat; 
    
    animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
   
}

.weather-card:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease;
    z-index: 1;
}

/* .temp {
    position: absolute;
    bottom: 0;
} */

.weather {
    margin: .25rem;
}

.day {
    font-size: 3rem;
    font-weight: 400;
}

.date {
    color: "text-light";
}

.place {
    position: relative;
    right: -250px;
    top: -100px;
}

.temp {
    position: relative;
    right: -60px;
    top: -65px;
    /* background-color: purple; */
}

.temp-weather {
    margin: 0;
    font-weight: 700;
    font-size: 4em;
    position: relative;
    right: -100px;

}

.temp .icon-url {
    position: relative;
    right: -100px;
}

.description {
    position: relative;
    right: -60px;
    color: "text-light";
}

.card-2 {
    background-color: red;
    border-radius: 20px;
}


.details {
    margin: 4%;
}
 
.location {
    display: flex;
    justify-content: center;
    margin: 3%;
}



.card-details {
    margin-left: 19px;
}

.h1_left {
    position: absolute;
    bottom: 25px;
    left: 16px;
    font-size: 3vw;
    line-height: 1.2;
}


.no-search-wrapper {
    min-width: 400px;
    min-height: 500px;
    /* background-color: yellowgreen; */
}

.no-search-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 700px;
    min-height: 500px;
   position: relative;
   right: -300px;
   /* background-color: red; */
} 

.no-search-container .bi-search {
    font-size: 90px;
    position: relative;
    right: -257px;
    top: -150px;
}

.no-search-container h2 {
    position: relative;
    right: -230px;
    top: -150px;
}

.no-search-container h1 {
    position: relative;
    right: -180px;
    top: -150px;
    font-size: 150%;
}