@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
     .widget-wrapper {

        @apply pt-8 pb-7
      
    } 
    
    .container{
        
    }

}







.widget-wrapper {
   
   font-family: 'Libre Baskerville', serif;
font-family: 'Poppins', sans-serif;
    
}



.container {
  
    display: grid;
    grid-template-columns: repeat(2, 450px);
    gap: 1rem;
   
}

 .widget {
 
width: 400px;
height: 200px;
border-radius: 20px;

background-image: url("https://images.unsplash.com/photo-1498462335304-e7263fe3925a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Ymx1cnJ5fGVufDB8fDB8fHww&w=1000&q=80") ;

animation-duration: 0.5s;
    animation-name: animate-fade;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
}

@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  

.widget:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    z-index: 1;
}

.widget .left-side {
    position: relative;
    top: 35px;
    right: -50px;
    width: 200px;
    
}
.widget .right-side {
    position: relative ;
    top: -85px;
    right: -230px;
    width: 150px;
    color: #fff;
    margin: 50px 0;
   
}

.weather-status { 
    color: #fff;
}

.day {
    font-size: 1em;
    text-shadow: 1px 1px 5px #707070;
}
.degree {
font-size:  3em;
font-weight: bold;
margin: 0;
padding-left: 0.80rem;
text-shadow: 1px 1px 5px #707070;
}

.icon-url{
    height: 85px;
    width: 85px;
}

.widget-details {
width: 400px;
position: relative;
bottom: 135px;
 left: 1px;
display: flex;
align-items: center;
justify-content: space-between; 
color: #fff;
/* background-color: orange; */

}

.widget-details h1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1px 10px 5px 10px;
    text-align: center;
    font-weight: 500;
    /* line-height can change the space between the text */
    line-height: 140%;
    font-size: 0.90em;
    text-shadow: 25px 30px 20px #707070; 
}

.widget-details h1 span {
    font-weight: bold;
}
 
.widget-header { 
    color: black;  
}








/* Mobile */
@media only screen and (max-width: 640px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .widget {
        width: 350px;
       
    }
    .widget-details {
        width: 350px;
    }

    .degree {
        font-size:  2.80em;
        font-weight: bold;
        margin: 0;
        text-shadow: 1px 1px 5px #707070;
        }
}
