@tailwind base;
@tailwind components;
@tailwind utilities;

/* remember padding is for your spacing. top, bottom, right,left */
@layer components {


    .header-wrapper {
       @apply  flex flex-col justify-center space-y-8 bg-white sm:h-80 pt-8  md:h-96 lg:h-96
    }
    
    .welcome {
        @apply flex flex-col 
    }

    .title-wrapper  {
        @apply flex  justify-center 
    }
    .title-wrapper h2 {
        @apply font-serif sm:text-3xl md:text-4xl lg:text-5xl
    }

    .title2 {
        @apply flex  justify-center 
    }

    .title2 h2 {
       @apply   font-serif sm:text-3xl md:text-4xl lg:text-5xl
    }


   .title-interest-wrapper {
    @apply flex  justify-center 
   }

   .title-interest-wrapper h2 {
    @apply text-xl
   }


/* Search Bar area  */
 .search-bar { 
   /* we set the content centered and its items, gave it some space in between each 2rem */
    @apply  sm:flex justify-center items-center pl-4
  
    } 


    .search-container{

        @apply flex justify-center items-center w-80  border-solid rounded-full border-2  text-base bg-transparent 
     
    }
    
    .bar {

        @apply outline-none w-72 border-none rounded-full border-2 px-4 px-8 gap-6 cursor-default bg-transparent 
        
        
       
    }

    .bar::placeholder{
    @apply text-black 
    }

    /* used align-items to get items centered */
    .button-wrapper {
        @apply flex justify-center items-center pl-4 
    }
    .search-button {
        @apply border-solid py-0.5 px-9 h-12 box-border text-center text-white text-sm cursor-pointer bg-black
       
    } 
 } 


/* The flex and center display is the reason the search logo, search bar and button is next to each other in a row */


.bar {

 padding: 16px 28px;

}



/* When a user clicks on the placeholder in search bar, it disappears */
input:focus::-webkit-input-placeholder {
	color : transparent;
}





.search-button {
    border: solid;
    border-radius: 25px;
   
}

.search-button:hover {
    background-color: #FFFFFF;
    color: black;
}

/* z-index helped us from having a overlapping content */


/* Here we can add a style to remove scroll bar if we want */




#switch{visibility: hidden}
.search-bar label {
    display: flex;
   align-items: center;
   justify-content: flex-start;
   cursor: pointer;
   text-indent: 10px;
   width: 140px;
   height: 55px;
   background: #068FFF;
   border-radius: 200px;
   position: relative;
   left: 0;
}

.search-bar label .fahrenheit {
    font-size: 32px;
    position: relative;
    bottom: -5px;
    right: -9px;
    color: #FFFFFF;
}
.search-bar label .celsius {
    font-size: 32px;
    position: relative;
    bottom: -5px;
    right:  -40px;
    color: #FFFFFF;
    
}


.search-bar label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 90px;
    transition: 0.4s;
}

.search-bar input:checked + label {
background: #FD8D14;
}

.search-bar input:checked + label:after{
    left: calc(100% - 5px);
    transform: translateX(-100%);
}


.current-time {
    margin-right: 3rem;
    font-size: x-large;
}



/* Media Query section to make the footer section responsive */

/* Mobile */
@media only screen and (max-width: 640px) {

    .search-bar { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
  

.title2 {


}
    .title2 h2 {
        text-align: center;
    }

    .title-interest-wrapper {
        
    }

    .title-interest-wrapper h2  {
       
       
       
    }

    
}



/* 867 */ 
/* To avoid the break of the content in the search bar as screen got smaller at 867 px */
 @media only screen and (max-width: 867px) {
    .search-form {
  display: flex;
  justify-content: center;
  width: 85%;
    }

.search-form i {
    padding-top: 1rem;
}
    
}
/* iPad Air  */
@media only screen and (max-width: 820px){
  

}