.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px;
   min-height: 415px;   
   /* background-color: greenyellow; */
}

/* 240 */
.welcome { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* min-width: 300px; */
    min-height: 100px; 
    position: relative;
    top: 20px;
    background-color: #FFFFFF;  
}

.title-wrapper h2 {
    font-family: 'Libre Baskerville', serif;
    font-size:55px;
    position: relative;
    left: 370px

}

.title2 h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 55px;
    position: relative;
    left: 200px
}
.title-interest-wrapper h2 {
    position: relative;
    bottom: -30px;
    right: -370px;
    font-size: 20px;
    /* background-color: aquamarine; */
}












.search-bar {
display: flex;
align-items: center;
justify-content: center;
position: relative;
bottom: -70px;
background-color:#FFFFFF;
}

/* The flex and center display is the reason the search logo, search bar and button is next to each other in a row */
.search-container{
    display: flex;
align-items: center;
justify-content: flex-start;
width: 360px;
border: solid;
 border-radius: 50px;
 border-width: thin;
 font-size: 18px;
 /* padding: 16px 28px; */
border-radius: 50px;
background-color: transparent;
}

.bar {
 /* display: none; */
 outline: none;
 width: 300px;
 border: none;
 border-radius: 50px;
 border-width: thin;
 font-size: 18px;
 padding: 16px 28px;
 gap: 24px;
 cursor: default;
 background-color: transparent;
}

/* changes the placeholder text */
.bar::placeholder{
    position: relative;
    right: -1px;
    color: black;
}

/* When a user clicks on the placeholder in search bar, it disappears */
input:focus::-webkit-input-placeholder {
	color : transparent;
}

.bi-search{
    position: relative;
    right: -20px;
}



.search-button {
    /* width: 100px; */
    border: solid;
    border-radius: 25px;
    padding: 2px 35px;
    height: 48px;
    box-sizing: border-box;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    /* margin: 28px; */
    position: relative;
    right: -10px;
    cursor: pointer;
    background-color: black;
    /* padding: 1.3em 3em; */
}

.search-button:hover {
    background-color: #FFFFFF;
    color: black;
}