
.days-wrapper{
    width: 90%;
    box-shadow: 0 4px 8px rgb(0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0.19);
    border-radius: 20px;
    margin: auto;
    text-align: center; 
}

.loading {
    /* color: #fff; */
}

ul {
    margin: 0;
}

li {
    display: inline-block;
    list-style: none;
    height: 100%;
    width: 21%;
    max-width: 21%;
    font-size: 1vw;
    line-height: 1.2;
}

span {
    display: block;
    margin-bottom: 5px;
    font: 100% sans-serif;
    height: 35px;
}

.li_active {
    background-color: #253d5c;
    color: #222831;
    border-radius: 10px;
    margin: 0.5rem;
    /* color: #fff; */
    font-weight: 600;
}

.li_active:hover {
    transform: scale(1.2);
    transition: transform 0.1s ease;
    background: #fff;
    border-radius: 10px;
    color: #191a1f;
}

.li_active_temp {
display: inline-block;
background-color: #222831;
color: #ffffff;
transition:  background-color 0.5s;
border-radius: 10px;
}

.li_active_temp:hover {
    transform: scale(1.2);
    transition: transform 0.1s ease;
    background: #fff;
    border-radius: 10px;
    color: #191a1f;
}

.days-details{
    padding: 3%;
}