/* @import './base.css'; */

body {
  display: flex;
  flex-direction: center;
  justify-content: center;
  /* text-align: center; */
  min-height: fit-content;
  /* overflow-x as hidden avoids our webpage from being scrolled to the right. Instead it will be horizontal  */
  overflow-x: hidden;
  background-color: #FFFFFF !important;
} 
/* This where all of our content is displayed in app */
#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* max-width: 1280px; */
  margin: 0 auto;
  /* margin-top: 5rem; */
  padding: 2rem;
  border-radius: 5px;
  /* width: 1200px; */
  min-width: 1400px;
  min-height: 1000px;
  /* position: relative;
  top: -50px; */
  font-weight: normal;
  background-color: #FFFFFF;
}

/* 
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
} */

/* /* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
/* }  */
