
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    
    .nav-wrapper {
      @apply md:flex justify-start  lg:flex justify-start 
} 

   .nav {
    @apply sm:flex justify-center pt-8  md:p-0 lg:p-0
   }
    .nav h1 {
        @apply font-serif text-xl
    }
     
  .nav img {
    @apply h-8 
  }
}


/* .nav-wrapper {
    position: relative;
    left: 0;
    background-color: red;
} */


/* .nav h1 {
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    position: relative;
    right: -10px;
} */


/* Mobile */
@media (max-width: 600px) {
    /* .nav-wrapper {
        padding: 2rem;
    } */
    /* .nav-wrapper {

        position: relative;
        left: 0;
        bottom: -30px;
    }

    .nav {
        align-items: center;
        justify-content: center;
    }

.nav i {
    position: relative;
    top: -2px;
} */
}